// // less入口文件

@import './common',
        './transitions', 
        './trim', 
        './flex';

html, body{
  height: 100%;
  background-color: white;
  color: #333333;
  margin: 0;
}

body{
  overflow: scroll;
}

::-webkit-input-placeholder{
  color: $subtext;
}